---
title: "Library Reference"
index: 10
category: "eth-typed-data"
type: "reference"
source: "https://github.com/uport-project/eth-typed-data/blob/develop/docs/reference/index.md"
---

{{>main-index~}}
{{#orphans ~}}
<a name="{{{anchorName}}}"></a>
#{{>heading-indent}}{{>sig-name}}
{{>body}}
{{>member-index~}}
{{>separator~}}
{{>members~}}
{{/orphans~}}